<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TapNBite_Original"
        tools:targetApi="31">
        <activity
            android:name=".Admin.SecuritySetting_Activity"
            android:exported="false" />
        <activity
            android:name=".Admin.Notification_Activity"
            android:exported="false" />
        <activity
            android:name=".Admin.PelletsManagement_Activity"
            android:exported="false" />
        <activity
            android:name=".Admin.CanteenDetails_Activity"
            android:exported="false" />
        <activity
            android:name=".Admin.Transactions_Activity"
            android:exported="false" />
        <activity
            android:name=".Admin.Analytics_Activity"
            android:exported="false" />
        <activity
            android:name=".Admin.Check_Activity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminMenu_Activity"
            android:exported="false" />
        <activity
            android:name=".Notification_Activity"
            android:exported="false" />
        <activity
            android:name=".FAQs_Activity"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicy_Activity"
            android:exported="false" />
        <activity
            android:name=".Menu_Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Search_Activity"
            android:exported="false" />
        <activity
            android:name=".Onboarding3_Activity"
            android:exported="false" />
        <activity
            android:name=".Onboarding2_Activity"
            android:exported="false" />
        <activity
            android:name=".Checkout_Activity"
            android:exported="false" />
        <activity
            android:name=".TermsAndConditions_Activity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountStudent_Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Onboarding1_Activity"
            android:exported="false" />
        <activity
            android:name=".LoginAccountStudent_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>